/* estilos de nosotros */

.headerNosotros{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    h1{
        color: black;
        text-transform: uppercase;
    }
    nav{
        background-color: violet;
        ul{
            display: flex;
            justify-content: center;
            li{
                color:white
            }
        }
    }
}